---
layout: default
---

<div class="page clearfix" index>
    <div class="left"> <!--에러수정-->
        <!--<h3>Thank God for one more step!</h3>-->
        <small><strong> 배운 것을 기록하는 블로그입니다.</strong> <br> <i>Thank God for one more step! Today</i></small>
        <hr>
        
        <!-- Recent Post로 대체 -->
                <div>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Recent Posts
                </div>
        <!-- 추가 및 아카이브 형태로 수정-->

        <ul style="display:inline-block;margin-top:-5px" class="content-ul" recent> <!-- display inline-block 속성으로 짤리는 것 방지-->
                    {% for post in site.posts offset: 0 limit: 10  %}
                    <!-- {% for post in paginator.posts %} -->
                        <li>
                             <time> 
                             {{ post.date | date:"%F" }} {{ post.date | date: "%a" }}. 
                             </time> 
                             <a class="title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> 
                             {% include category.html %} 
                        </li>
                    {% endfor %}
        </ul>
        <!--Tag 추가-->
                <div style="margin-top:15px"> <!--추가-->
                    <i class="fa fa-th-list"></i>
                    Categories
                </div>
        <br>
        {% for category in site.categories %}
        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                            • <span style="background-color: #dbdfee;">{{ category | first }}</span>
                            <!--({{ category | last | size }})-->
                        </a>
         &nbsp;
        {% endfor %}
        
           
        
        
    </div>
    <!-- <button class="anchor"><i class="fa fa-anchor"></i></button> -->
    <button class="anchor"><i class="fa fa-anchor"></i></button>
     
    
    <div class="right">
        <div class="wrap">
            <!-- Content -->
            <!-- Side 카테고리 모음 -->
            <div class="side ">
                <div>
                    <i class="fa fa-th-list"></i>
                    Categories
                </div>
                <ul class="content-ul" cate> 
                     {% for category in site.categories %}
                    <li>
                        <a href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}" class="categories-list-item" cate="{{ category | first }}">
                            <span class="name">
                                {{ category | first }}
                            </span>
                            <span class="badge">{{ category | last | size }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 아카이브를 위해 필요한 요소 -->
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
