<html>
  <head></head>
  <body>

<input id="search" type="text" class=""/>
<script type="text/javascript">
   $(function(){
      $('#search').keydown(function( e ){
         if( e.keyCode==13 ){
            var val=$('#search').val();
            window.location="https://github.com/deokudev/deokudev.github.io/blob/master/_includes/googleresult.html?q="+val;
         }
      });
   });
</script>

<script>
   (function(){
      var cx='005971650982136930476:yhr4bdbsanu';
      var gcse=document.createElement('script');
      gcse.type='text/javascript';
      gcse.async=true;
      gcse.src='https://cse.google.com/cse.js?cx='+cx;
      var s=document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
   })();
</script>
<gcse:searchresults-only></gcse:searchresults-only>
    
  </body>
</html>
