
<html>
  <head>
    <!-- jquery 불러오기 -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- 검색 상자 -->
    <form id="editform" class="editform" action="#">
      <input type="submit" value="Edit" size="18" style="font-size:11pt;" align="center">
    </form>
                                                        
    <!-- 검색어 submit 이벤트 처리 -->
    <script>
      $(document).ready(function(){
        $("#editform").on("submit", function(e){
          e.preventDefault();
          var myurl = location.href;
          var idx = myurl.indexOf("deokudev.github.io/") + 18;
          var tagidx = myurl.indexOf("\#");
          if(tagidx == -1){
          var tmp = myurl.slice(idx,-1);
          var tmp2 = tmp.replace(/\//gi, '-').substring(1);
          var result = 'http://prose.io/#deokudev/deokudev.github.io/edit/master/_posts/'+tmp2+'.md';
          location.href = result;
          }else{
          var tmp = myurl.slice(idx,tagidx);
          var tmp2 = tmp.replace(/\//gi, '-').substring(1);
          var tmp3 = tmp2.slice(0,-1);
          var result = 'http://prose.io/#deokudev/deokudev.github.io/edit/master/_posts/'+tmp3+'.md';
          location.href = result;
          }
        });
      });
    </script>
  </body>
</html>
