
<html>
  <head>
    <!-- jquery 불러오기 -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- 검색 상자 -->
    <form id="editform" class="editform" action="#">
      {% if post %}
      <input type="text" id="edit" name="edit" value="{{post.url}}">
      <input type="submit" value="Write" size="18" style="font-size:11pt;" align="center">
      {% endif %}
    </form>
                                                        
    <!-- 검색어 submit 이벤트 처리 -->
    <script>
      $(document).ready(function(){
        $("#editform").on("submit", function(e){
          e.preventDefault();
          var url = encodeURIComponent($("#edit").val());
          location.href = "https://deokudev.github.io/edit?q=" + url;
        });
      });
    </script>
  </body>
</html>
